<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Thank
        {{name}},
        <br />
        for your message!
      </h1>
      <p>Your form has been successfully submitted.</p>
      <button
        style="height: 35px; border-radius: 20px; border: none; background-color: #5875f8; color: white; cursor: pointer; outline: none; padding: 0 20px"
      >
        <a
          style="text-decoration: none; color:#fff"
          href="https://tukhtayevaroziya.github.io/portfolio"
        >Return to Website</a>
      </button>
    </div>
  </body>
</html>